// MB01 - Core.scss
body {
  background-color: $eggwhite;
  color: $charcoal;
}

main {
  overflow: hidden;
  background-size: 250px 250px;
  padding: 300px 0 0 0;
}
.post {
  transition: all 0.4s $bezier;
  &:hover {
    .post-title, .post-summary {
      background-color: rgba(20, 20, 20, 0.6);
      transform: translateX(0);
    }
  }
}
.post-link {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  color: $eggwhite;
  //box-shadow: $drop-shadow-small;
}
.post-title, .post-summary {
  transition: inherit;
  background-color: rgba(0, 0, 0, 0);
  &:nth-child(odd) {
    transform: translateX(-100%);
  }
  &:nth-child(even) {
    transform: translateX(-100%);
  }
}
.post-title {
  padding: 15px 5px 4px 5px;
}
.post-summary {
  padding: 4px 5px 15px 5px;
}

.grid-item {
  &:nth-child(odd) {
    .post-title {
      color: $skyblue;
    }
  }
  &:nth-child(even) {
    .post-title {
      color: $softred;
    }
  }
}

.author-name {
  padding: $padding;
}
.author-biography {
  padding: $padding;
}
.social-links {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}
.social-media-img {
  margin-left: 0.5em;
  height: 2em;
  width: auto;
}

//Cards

.card {
  border-radius: 2px;
  box-shadow: $drop-shadow;
  background: $eggwhite;
}
.card-title {
  padding: $padding;
  background: $charcoal;
  color: $eggwhite;
  h1,h2,h3,h4 {margin: 0;}
}
.card-body {
  padding: $padding;
  background: $charcoal-light;
  color: $charcoal;
}

//Code blocks

pre {
  background: #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
  border-bottom: 2px solid $skyblue;
  padding: 0em 2em 1em;
  overflow: scroll;
}
code {
  padding: 0 0.5em;
  li {list-style: none;}
}

.file-name {margin-bottom: 4px;}
.class {color: #f78018;}
.obj {color: #d238ea;}
.var { color: $softred; }
.function { color: #3564d0; }
.comment { color: $charcoal-light; font-style: italic; }
.string { color: #79A772; }
.key { color: #ff38eb; }
