//MB04 - Footer.scss

#footer-content {
  padding: 50px 20px;
  font-size: 10px;
  color: $eggwhite;
  background-color: $charcoal;
}
#footer-links{
  border-right: 2px solid $skyblue;
  padding-right: 1.25em;
}
footer nav {
  justify-content: right;
  ul {
    margin-right: 0;
    li {
      text-align: right;
      margin: 0;
    }
  }
}
#footer-text {
  padding-left: 2em;
  width: 80%;
  max-width: 700px;
  justify-content: space-between;
}