// MB07 - grids_containers.scss

//CSS Grid

.grid-full {
  grid-row: first / last;
  grid-column: first-line / end-line;
}

.grid-row-center {justify-self: center;}
.grid-col-center {align-self: center;}
.grid-all-center {justify-self: center; align-self: center;}
.full-screen-grid-container {
  display: grid;
  grid-template-columns: [first-line] calc(100%/3) calc(100%/3) calc(100%/3) [last-line];
  grid-template-rows: [first] repeat(4, 20%) 20% [last];
  width: 100%;
  height: 100vh;
  background-size: cover;
}


@for $i from 1 through 5 {
  .grid-col#{$i}-row0 {
    grid-row: first / last;
    grid-column: $i / #{$i+1};
  }
  .grid-col0-row#{$i} {
    grid-row: $i / #{$i+1};
    grid-column: first-line / end-line;
  }
}

//Masonry
.home-masonry-grid {
  padding-left: 10px;
}

.grid-sizer, .grid-item {
  width: calc(100%/3 - 10px);
  margin-bottom: 15px;
}

// Containers
.article-container {
  width: 70%;
  margin-left: 12px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.main-container {
  margin-bottom: 150px;
  justify-content: space-between;
}
.container {
  flex-grow: 5;
  order: 1;
}
#content-container {
  margin: 0 auto;
  padding: 2em 0.5em;
  width: calc(65% - #{2*$margin-for-calc});
  border-radius: 2px;
  box-shadow: $drop-shadow-small;
  background: $eggwhite;
}
#mobile-info-bar {
  margin: 50px 12px 0;
  display: none;
  border: 4px solid $skyblue;
  .social-links {
    justify-content: start;
    margin-bottom: 1em;
    margin-top: 0;
  }
  .social-media-img {
    -webkit-filter: brightness(0.25);
    filter: brightness(0.25);
    margin-left: 0;
    margin-right: 0.5em;
  }
}

//Media Queries

@media (max-width: 860px) {
  .article-container, #content-container {width: calc(100% - 24px);}
  .sidebar {display: none;}
  #mobile-info-bar {display: block;}
  .main-container {display: flex; flex-direction: column;}
}
