// MB09 - Random.scss

.color-backdrop {
  padding: 12px;
  background-color: rgba(0, 171, 224, 0.6);
  color: $eggwhite;
  border-radius: 2px;
  h1, h2, h3, p, article {line-height: 1; margin: 0;}
}

.hoverUnderline a {
  position: relative;
  font-size: 1.25em;
  text-decoration: none; }
.hoverUnderline a:before {
  content: '';
  background: #202130;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 2px;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.5475, 0.0085, 0.7678, 0.9508);
  transform: scaleX(0); }
.hoverUnderline a:hover:before {
  visibility: visible;
  transform: scaleX(1); }
.hoverUnderline a:hover {
  cursor: pointer;
  text-decoration: none; }

.cover-image {
  background-size: cover;
  background-position: center;
}

.column-to-top-red {
  width: 100%;
  position: relative;
  height: 0px;
  &::before {
    content:'';
    position: absolute;
    height: 5000px;
    left: 50%;
    top: 0px;
    width: 2px;
    z-index: -1000;
    background: $softred;
  }
  &::after {
    content:'';
    position: absolute;
    height: 2px;
    left: 50%;
    top: 0px;
    width: 250px;
    z-index: -1000;
    background: $softred;
  }
}
.column-to-top-blue {
  width: 100%;
  position: relative;
  height: 0px;
  &::before {
    content:'';
    position: absolute;
    height: 5000px;
    left: 50%;
    top: 0px;
    width: 2px;
    z-index: -1000;
    background: $skyblue;
  }
  &::after {
    content:'';
    position: absolute;
    height: 2px;
    left: -50%;
    top: 0px;
    width: 100%;
    z-index: -1000;
    background: $skyblue;
  }
}

.parallax {
  background-position: 0 0;
}
.spacer-image {
  height: 525px;
  width: 100%;
  background-size: cover;
}
.js-is-sticky {position: fixed !important;}
.js-is-stuck {position: absolute !important;}

a {color: $skyblue;}
