//MB06 - Sidebar.scss
.sidebar {
  position: sticky;
  top: 10px;
  z-index: 0;
  width: calc(30% - #{2*$margin-for-calc});
  order: 3;
  display: inline-block;
  height: 100%;
  .sidebar-container {
    margin: 2% 4% 2% 4%;
    position: relative;
    position: sticky;
    top: 20px;
    box-shadow: $drop-shadow;
  }
}

.sidebar-right {
  width: calc(30% - #{2*$margin-for-calc});
  order: 100;
  margin-left: 10px;
  background-color: $lightblue;
}
.sidebar-left {
  order: -1;
  margin-right: 10px;
  background-color: $softerred;
}
#author-info-bar {
  width: calc(25% - #{2*$margin-for-calc});
}
.author-image {
  margin-bottom: 0.5em;
}
#social-link-bar {
  width: calc(15% - #{2*$margin-for-calc});
  .sidebar-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .social-media-img {
    height: 2em;
    margin: 0.25em 0.1em;
  }
}
 @media (max-width: 1200px) and (min-width: 861px){
   #social-link-bar {
     width: 10%;
   }
 }
