//MB06 - Sidebar.scss
.sidebar {
  position: relative;
  z-index: 0;
  margin: 0 10px;
  width: 30%;
  order: 3;
  .sidebar-container {
    padding: 2% 4% 2% 2%;
    position: relative;
    position: sticky;
    top: 20px;
    box-shadow: $drop-shadow;
  }
}

.sidebar-right {
  flex-grow: 2;
  order: 100;
  .sidebar-container {
    background-color: $lightblue;
  }
}
.sidebar-left {
  flex-grow: 1;
  order: -1;
  .sidebar-container {
    background-color: $softerred;
  }
}
.author-image {
  margin-bottom: 0.5em;
}
.author-info {
  margin-left: 0.5em;
}
