// MB02 - Typography.scss
body, img, h1, h2, h3, h4,
h5, h6, p, article, textarea,
label, code {line-height: 1.2;}
body {
  font-family: $sans-serifs;
  font-size: 12pt;
}
img {
  width: 100%;
  max-width: inherit;
}
h1, h2, h3, h4, h5, h6 {margin-bottom: 30px;}
h1 {
  font-size: 3.5em;
  font-weight: $heavy;
  font-family: $sans-serifs;
}
h2 {
  font-size: 2.5em;
  font-weight: $bold;
  font-family: $sans-serifs;
}
h3 {
  font-size: 2em;
  font-weight: $bold;
  font-family: $sans-serifs;
}
h4 {
  font-size: 2em;
  font-family: $sans-serifs;
}
h5 {
  font-size: 1em;
  font-weight: $bold;
  font-family: $sans-serifs;
}
h6 {
  font-size: 1.5em;
  font-family: $serifs;
}
p, blockquote, article {
  font-family: $serifs;
  font-size: 1em;
  margin-bottom: 1em;
}
.indent-text {
  padding-left: 10px;
}