// MB00A - variables.scss

// Colors
$navyish: #2c4251;
$darkblue: #263238;
$skyblue: #03A9F4;
$lightblue: #B3E5FC;

$eggwhite: #efefef;
$charcoal: #313131;
$charcoal-light: #999999;

$softred: #FF5252;
$softerred: #FF8A80;

//Effects
$drop-shadow: 2px 0px 4px rgba(0,0,0,0.3), -2px 0px 4px rgba(0,0,0,0.3),
0px -2px 4px rgba(0,0,0,0.3), 0px 2px 4px rgba(0,0,0,0.3);
$drop-shadow-small: 1px 0px 1px rgba(0,0,0,0.3), -1px 0px 1px rgba(0,0,0,0.3),
0px -1px 1px rgba(0,0,0,0.3), 0px 1px 1px rgba(0,0,0,0.3);
$bezier: cubic-bezier(0.5475, 0.0085, 0.7678, 0.9508);

//Fonts
$sans-serifs: 'Libre Franklin', Helvetica, 'Franklin Gothic', sans-serif;
$serifs:  'Lora', Baskerville, serif;
$heavy: 700;
$bold: 600;

//Spacing
$padding: 8px 6px;
$margin-left-right: 0 5px;
$margin-for-calc: 5px;