$sans-serifs: 'Libre Franklin', Helvetica, 'Franklin Gothic', sans-serif;
$serifs:  'Lora', Baskerville, serif;
$eggwhite: #efefef;
$darkblue: #202130;
$softred: #d16666;
$skyblue: #00ade0;
$navyish: #2c4251;
$heavy: 700;
$bold: 600;
$drop-shadow: 2px 0px 4px rgba(0,0,0,0.5), -2px 0px 4px rgba(0,0,0,0.5),
0px -2px 4px rgba(0,0,0,0.5), 0px 2px 4px rgba(0,0,0,0.5);
$bezier: cubic-bezier(0.5475, 0.0085, 0.7678, 0.9508);