<div class="sidebar sidebar-right" id="author-info">
    <div class="column-to-top-red"></div>
    div class="sidebar-title"><h4>About the Author</h4></div>
    <div class="sidebar-container flex-col">
        <div class="author-image">
            <img src="{{ post.author.image }}" alt="Picture of author, {{ post.author.name }}">
        </div>
        <div class="author-info flex-col">
            <div class="author-name">
                <h3> {{post.author.name}} </h3>
            </div>
            <div class="author-biography">
                <p> {{ post.author.biography}} </p>
            </div>
        </div>
    </div>
</div>