{% import "macros.njk" as macro %}
<footer>
    <div class="flex-row background-triangle-bare parallax" id="footer-content">
        <div id="footer-links">
            <div class="site-links">
                <nav id='footer-navigation'>
                    {{ macro.navMenu(navigation, 'flex-col') }}
                </nav>
            </div>
            <div class="social-links">
               {# {{ macro.makeSocialMediaLinks(socialMedia) }} #}
            </div>
        </div>
        <div id="footer-text" class="flex-col">
            <div class="site-summary">
                <blockquote>{{ footer.summary }} </blockquote>
            </div>
            <div class="copyright">
                  <p>{{blogname}} - {{ footer.copyright }} </p>
            </div>
        </div>
    </div>
</footer>
</body>
