<div id="modal-container">
  <div id="close-form">x</div<
  <div id="modal">
    <div class='modal-title-element'>
      <h2 class='modal-title'></h2>
    </div>
    <div class='modal-body-element'>
      <p class='modal-body'></p>
    </div>
  </div>
</div>
