{% macro navList(options, class='') %}
    <ul class='{{ class }}'>
    {% for link in options %}
        <li><a href='{{ link.href }}'>{{ link.title }}</a></li>
    {% endfor %}
{% endmacro %}

{% block navigation %}
<body>
    <header>
      {{ if home }}
      <div id="landing" class="full-screen-grid-container">
          <div class="parallax grid-full image-landing" style="background-image: url('<?php echo $photo->urls["regular"] ?>');"></div>
          <div class="grid-col0-row2 color-backdrop parallax grid-center-cell"><h1>Blog Title</h1></div>
              <nav class='grid-col0-row4 grid-row-center' id='landing-navigation'>
                  {% navMenu(home.navigation, 'hoverUnderline) %}
              </nav>
      </div>
      {% else %}
      <nav id='mobile-nav-bar'>
          <div id='burger-holder'>
              <div class='bar1'></div>
              <div class='bar2'></div>
              <div class='bar3'></div>
              <div class='bar4'></div>
              <div class='bar5'></div>
          </div>
          <div class='mobile-menu'>
              {% navMenu(home.navigation, 'hoverUnderline') %}
          </div>
      </nav>
      {% endif %}
    </header>
{% endblock %}