{% include "head.njk" %}

{% include "macros.njk" %}

{% include "navigation.njk" %}
<div class="spacer-image parallax" style="background-image: url('https://source.unsplash.com/random/daily');" value="0.3"></div>

<div class="main-container">
    {% include "social-sidebar.njk" %}
    <div id="content-container" class="card">
        <div class="post-title">
            <h1>{{ title }}</h1>
        </div>

        <div class="post-content">
            {{ body }}
        </div>
    </div>
    {% include "author-sidebar.njk" %}
</div>

{% include "footer.njk" %}
