<div class="sidebar sidebar-left" id="social-media>
    <div class="sidebar-container">
        {$ for site in page.author.socialMedia %}
            <div class="social-icon">
                <a href="{{ site.link }}"> <img src="{{ site.icon }}" alt="Link to {{ page.author.name }}'s {{ site.name }}' </a>
            </div>
        <% endfor %}
    </div>
</div>