<div class="sidebar sidebar-left" id="social-link-bar">
    <div class="column-to-top-blue"></div>
    <div class="sidebar-title"><h4>Social</h4></div>
    <div class="sidebar-container">
        {% for site in author.socialMedia %}
            <a href="{{ site.link }}"> <img class="social-media-img" src="{{ site.icon }}" alt="Link to {{ author.name }}'s {{ site.name }}'" </a>
          {% else %}
            <h5> No links present </h5>
        {% endfor %}
    </div>
</div>
