<div class="sidebar sidebar-right flex-col" id="author-info">
    <div class="column-to-top-red"></div>
    div class="sidebar-title"><h4>Popular Posts</h4></div>
    <div class="sidebar-container flex-col">
        {{ include "popular-module.njk"}}
    </div>
</div>
